[Unit]
Description=Run stackinfo scraper

[Service]
Type=forking
ExecStart=/usr/bin/docker compose --project-directory /home/work/src/stackinfo/ --env-file /home/work/src/stackinfo/.env --file /home/work/src/stackinfo/compose.yml up --build -d
